# Dependency directory
node_modules/

# IDE directory
.vscode/
.idea/

# Logs files
*.log
*.zip

# Build files
package-lock.json

# Environment file
.env

# Git files
.gitignore

# Configuration files
Core/Config/**/*.json
